<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <h1 class="header"> <%= link_to "Wikinomous", articles_path %> </h1>
      <h2 class="new-article"> <%= link_to "New Article", new_article_path %> </h2>
    </div>
    <div class="article">
    <%= yield %>
    </div>
  </body>
</html>
